*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100px;;
    background-color: #3f9af5db;
    background-image: url("../img/pattern.png");
    background-size:contain;
}

h1{
    margin-top: 25px;
}

address{
    font-style: normal;
<<<<<<< HEAD
    color: #000066;
}

mark{
    background-color: #a3a30f;
    color: #e5f90f;
=======
    color: ;
>>>>>>> feeb1cc0490d3a3793975db9a6537eacb2f3fa5a
}