*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100px;;
    background-color: #3f9af5db;
    background-image: url("../img/pattern.png");
    background-size:contain;
}

h1{
    margin-top: 25px;
}

address{
    font-style: normal;
    color: #000066;
}

mark{
    background-color: #a3a30f;
    color: #e5f90f;
}

table{
    border-collapse: collapse;
}

thead{
    text-align: left;
    background-color: #6ebddf;
    color: white;
}

h2{
    color: #815601ec;
    font-size: 1em;
}
.logo{
    width: 50px;
    margin-top: 50px;
}

.autore{
    color: blue;
}

.descrizione{
    font-size: 0.80em;
}

.paragrafo{
    margin-top: 20px;
    margin-bottom: 25px;
}

.lista{
    padding-left: 18px;
    margin-bottom: 18px;
}

.cella1{
    width: 25%;
}
.cella2{
    width: 50%;
}

.data{
    font-size: 1em;
}

.casella-blu{
    background-color: #57c6f6;
}

.casella-bianca{
    background-color: #ffffff;
}

.immagine-1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    height: 200;
    padding: 15px;
    margin: 15px;
    font-size: 1em;
    font-weight: 800;
}

.immagine-2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    height: 200;
    padding: 15px;
    margin: 15px;
    font-size: 1em;
    font-weight: 800;
}